.header__info-wrapper {
  @include absolute-center;

  text-align: center;
}

.f-salon__title {
  font-size: 32px;
  font-weight: bold;
  color: $dark-gray;
}

.f-salon__info {
  margin: $margin-tb-l;
  font-weight: 700;
  color: $dark-gray;
}
