$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 24px;

$margin-tb-s: 10px 0;
$margin-tb-m: 20px 0;
$margin-tb-l: 30px 0;
$margin-tb-xl: 40px 0;

$white: white;
$black: black;
$gray: gray;
$nav-gray: rgb(88, 87, 87);
$dark-gray: rgb(32, 32, 32);
$darker-gray: rgb(41, 41, 41);
