.log-in__input,
.log-in__button {
  border: 1px solid $darker-gray;
  width: 100%;
  height: 30px;
  margin: $margin-tb-m;
}

.log-in__input {
  padding: 7px;
}

.log-in__button {
  background: $darker-gray;
  color: white;
}

.log-in__button:hover {
  background: rgb(70, 69, 69);
  transition: 0.3s ease-in-out;
}

.log-in__wrapper {
  @include absolute-center;
  @include center-flex-box;

  width: 300px;
  height: 300px;
  background: $gray;
  border-radius: 5px;
}

.log-in__registration-link {
  color: $white;
  margin-left: 8px;
}

.log-in__registration-link:hover {
  color: rgb(61, 60, 60);
  transition: 0.3s ease-in-out;
}

.log-in__registration {
  color: $dark-gray;
  font-weight: 600;
}

.log-in__label {
  color: $dark-gray;
  font-weight: 600;
}
